// 채널브라우저
.c-list-wrap {
	margin-top: 40px;
	margin-bottom: 50px;
	.t-tit {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		padding: 5px 0;
		p {
			font-weight: 400;
			&:hover {
				color: #333;
			}
		}
		& > div {
			display: flex;
			div {
				a {
					padding: 2px 5px;
					&:hover {
						background-color: #f8f6f6;
					}
				}
			}
		}
	}
	.c-list {
		li {
			border-top: 1px solid #ccc;
			position: relative;
			a {
				padding: 16px 12px; 
				display: block;
				.tit {
					font-weight: bold;
					line-height: 1.5;
					margin-bottom: 5px;
					position: relative;
					display: inline-block;
					padding-right: 30px;
					.tooltip {
						display: none;
						position: absolute;
						top: 0;
						right: 0;
						font-size: 13px;
						color: #1d1c1db3;
						font-weight: normal;
						.tooltip-msg-top {
							font-size: 13px;
						}
					}
				}
				& > div {
					span {
						color: #1d1c1db3;
						font-size: 13px;
						&::before {
							content: 'ㆍ'
						}
						&:first-child {
							&:before {
								content: ''
							}
						}
						&.present {
							color: #007a5a;
							font-weight: bold;
						}
					}
				}
			}
			.c-btn {
				display: none;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				button {
					margin-right: 10px;
				}
			}
			&:hover {
				background-color: #f8f6f6;
				a {
					.tit {
						.tooltip {
							display: block;
						}
					}
				}
				.c-btn {
					display: block;
				}
			}
		}
	}
}
// 채널메인
.c-info {
	& > a {
		display: flex;
		align-items: center;
		padding: 0 10px 0 0;
		position: relative;
		&:after {
			content: "";
			width: 6px;
			height: 6px;
			border-bottom: 2px solid #333;
			border-right: 2px solid #333;
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(-45deg) translateY(-50%);
			transition: .3s;
		}
	}
}
// 채널 modal
.card-list-box {
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 10px;
	.list-item {
		padding: 16px 20px;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #ccc;
		font-weight: 700;
		&:first-child {
			border: none;
		}
		dl {
			dt {
				margin-bottom: 5px;
			}
			dd {
				font-weight: 300;
				input {
					font-weight: 300;
				}
			}
		}
		div {
			button {
				font-weight: 700;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.search-list {
	margin: 30px 0;
	.list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		padding: 0 30px;
		&:hover {
			background-color: #ccc;
		}
		cursor: pointer;
		.user {
			display: flex;
			align-items: center;
			.ico-user {
				border-radius: 4px;
				overflow: hidden;
			}
			div {
				margin-right: 10px;
			}
		}
		div {
			button:hover {
				text-decoration: underline;
			}
		}

	}
}