/* common */

// font

*[class^=fs-28] {
  font-size: 28px !important;
  font-weight: bold;
}
*[class^=fs-18] {
  font-size: 18px !important;
  font-weight: bold;
  &.fs-18-wh {
    color: #fff;
  }
}
*[class^=fs-13] {
  font-size: 13px !important;
  font-weight: normal;
  &.fs-13-wh {
    color: #fff;
  }
  &.fs-13-gy {
    color: #666;
  }
}
.font-b {
  font-weight: bold;
}
.cl-gray {
  color: #666;
}
.cl-blue {
  color: #1164a3;
}
// 링크
.link {
	color: #1164a3;
	&:hover {
		text-decoration: underline;
	}
}
// 숨김 class
.blind {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  height: 0;
  visibility: hidden;
}
.p-section {
  display: flex;
	& > div:not(.side-bar) {
		width: calc(100vw - 260px);
	}
  .p-content-area {
    padding: 20px;
		overflow-y: auto;
		height: 100%;
		background-color: #f1f1f1;
  }
}
// flex
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-s {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-s-b {
	display: flex;
	justify-content: baseline;
}
// 여백
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
// 툴팁
.tooltip {
  position: relative;
  *[class^=tooltip-msg] {
    display: none;
    color: #fff;
    position: absolute;
    top: 45px; 
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    max-width: 240px;
    z-index: 10;
    font-size: 15px;
    text-align: center;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid none;
      border-bottom: 6px solid #000;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
		&.tooltip-msg-top {
			bottom: 30px;
			top: initial;
			&:before {
				content: '';
				top: initial;
				bottom: -5px;
				border-top: 6px solid #000;
				border-bottom: initial;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
			}
		}
    &.tooltip-msg-left {
      left: 10px;
      transform: translateX(0);
      &:before {
        left: 10px;
        transform: translateX(0);
      }
    }
    &.tooltip-msg-right {
      left: auto;
      right: 0;
      transform: translateX(0);
      &:before {
        left: auto;
        right: 10px;
        transform: translateX(0);
      }
    }
  }
  &:hover *[class^=tooltip-msg] {
    display: block;
  }
}
// menu-list
.menu-list-wrap {
  position: relative;
  .menu-list {
    position: absolute; 
    top: 35px;
    left: 50%;
    display: none;
    width: max-content;
    max-width: 300px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.205);
    z-index: 12;
    .menu-item {
      padding: 10px 0;
      border-top: 1px solid #ccc;
      & > p {
        padding: 5px 25px;
      }
      a, .depth {
        display: flex;
        align-items: center;
        padding: 5px 25px;
        position: relative;
        & > p {
          cursor: pointer;
					color: #333;
        }
        .user-pic {
          width: 36px;
          height: 36px;
          overflow: hidden;
          border-radius: 3px;
          background-color: #666;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          &:before {
            content: "P";
            color: #fff;
            font-size: 20px;
            font-weight: bold;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            object-fit: cover;
          }
        }
        &:hover {
          background-color: #1164a3;
          color: #fff;
          & > p {
            color: #fff;
          }
          strong.cl-blue {
            color: #fff;
            text-decoration: underline;
          }
          span.cl-blue {
            color: #fff;
          }
          & > div {
            & > p {
              color: #fff;
            }
          }
          .shortcut-keys {
            color: #fff;
          }
        }
        .shortcut-keys {
          padding-left: 10px;
          color: #888;
        }
        p {
          flex: 1 1 auto;
        }
        *[class^=ico-] {
          margin-right: 10px;
        }
        //icon
        *[class^=ico-] {
          img {
            width: 20px;
            height: 20px;
            filter: none;
          }
        } 
      }
      .depth {
        position: relative;
        & > p {
          position: relative;
          width: 100%;
          &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-bottom: 1px solid #616061;
            border-right: 1px solid #616061;
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(-45deg) translateY(-50%);
            transition: .3s;
          }
        }
        .two-depth {
          display: none;
          position: absolute;
          top: -15px;
          left: 99%;
          background-color: #fdfdfd;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.205);
          border: 1px solid #ccc;
          border-radius: 10px;
          z-index: 2;
          width: 300px;
          padding: 10px 0;
          & > div {
            border-top: 1px solid #ccc;
            &:first-child {
              border-top: 0;
            }
            p {
              padding: 10px 25px;
            }
          }
        }
        &:hover {
          & > p:after {
            border-color: #fff;
          }
          .two-depth {
            display: block;
          }
          //icon
          *[class^=ico-] {
            img {
              filter: invert(1);
            }
          } 
        }
      }
      &:first-child {
        border-top: 0;
      }
    }
  }
  &.on {
    & > .menu-list {
      display: block;
    }
  }
}
/* guide */
.page-list-box {
  margin: 20px 0;
  text-decoration: underline;
  font-size: 20px;
}
.menu-list-wrap.on > .modal-bg {
  display: block;
}
.modal-bg {
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* title */
.title-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 10px 20px;
	width: 100%;
}
/* btn */
*[class^=btn-type] {
	color: #1d1c1d;
	font-weight: bold;
	padding: 3px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	background-color: #fff;
	&:hover {
		background-color: #f8f8f8;
		transition: .3s;
	}
	&[class^=btn-type2] {
		padding: 5px 18px;
		font-size: 15px;
		min-width: 80px;
		&.btn-type2-gr {
			color: #fff;
			background-color: #007A5A;
			border: 1px solid #007A5A;
			&:hover {
				background-color: #02946d;
				transition: .3s;
			}
		}
		&.btn-type2-gy {
			color: #333;
			background-color: #dddddd;
			border: none;
		}
	}
}
/* modal */
.modal-wrap {
	.modal-basic {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 520px;
		background-color: #fff;
		z-index: 2;
		display: none;
		border-radius: 10px;
		.modal-header {
			padding: 20px 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			a {
				padding: 8px;
				&:hover {
					background-color: #f8f8f8;
				}
				.ico-close {
					img {
						width: 15px;
						height: 15px;
					}
				}
			}
		}
		.modal-content {
			padding: 0 30px;
			max-height: 350px;
			overflow-y: auto;
			.switch-area {
				margin-top: 20px;
				dl {
					dd {
						p {
							display: none;
							color: #1d1c1db3;
							max-width: 306px;
							&.on {
								display: block;
							}
						}
					}
				}
			}
		}
		.modal-bottom {
			padding: 20px 30px 30px;
		}
	}
	&.on {
		&.modal-bg-trans {
			.modal-bg {
				background-color: transparent;
			}
		}
		.modal-bg {
			display: block;
			background-color: rgba(0, 0, 0, 0.5);
		}
		.modal-basic {
			display: block;
		}
		.search-modal {
			display: block;
		}
	}
	.search-modal {
		display: none;
		position: absolute;
		top: 5px;
		left: 0;
		width: 800px;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid #ccc;
		z-index: 2;
		*[class^=ico-] {
			img {
				width: 20px;
				height: 20px;
				filter: none;
			}
		}
		.search-content {
			.f-category {
				padding: 20px 30px;
				ul {
					display: flex;
					margin-top: 10px;
					li {
						margin-left: 10px;
						a {
							display: block;
							padding: 10px;
							background-color: #1d9bd11a;
							border-radius: 4px;
							font-weight: bold;
							&:hover {
								background-color: #1264a3;
								color: #fff;
								*[class^=ico-] {
									img {
										width: 20px;
										height: 20px;
										filter: invert(1);
									}
								}
							}
						}
						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
			.last-search {
				margin-bottom: 10px;
				p {	
					padding: 0 30px;
				}
				ul {
					margin-top: 10px;
					li {
						position: relative;
						display: flex;
						justify-content: space-between;
						align-items: center;
						a {
							display: block;
							width: 100%;
							font-weight: bold;
							padding: 10px 30px 10px 60px;
							&:before {
								content: "";
								background: url("../images/icon/ico-clock.png");
								background-size: 20px 20px;
								position: absolute;
								top: 50%;
								left: 30px;
								transform: translateY(-50%);
								width: 20px;
								height: 20px;
							}
							span {
								font-weight: normal;
								display: none;
							}
						}
						button {
							display: none;
							.ico-close {
								margin-right: 30px;
								img {
									width: 12px;
									height: 12px;
								}
							}
						}
						&:hover {
							background-color : #1264a3;
							a {
								color: #fff;
								&:before {
									content: "";
									filter: invert(1)
								}
								span {
									display: inline-block;
								}
							}
							*[class^=ico-] {
								img {
									filter: invert(1);
								}
							}
							button {
								display: block;
							}
						}
					}
				}
			}
			.search-bottom {
				background-color: #f8f8f8;
				border-radius: 10px;
				display: flex;
				justify-content: flex-end;
				padding: 10px 30px;
				font-size: 13px;
				p {
					margin-right: 10px;
				}
				a {
					color: #1264a3;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.close-btn {
			position: absolute;
			top: 15px;
			right: 30px;
		}
	}
}
/* tab 메뉴 */
.tab-cont-wrap {
	height: 100%;
	.tab-btn {
		display: flex;
		border-bottom: 1px solid #ccc;
		padding: 20px 20px 0 20px;
		li {
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
			&.active {
				a {
					border-bottom: 2px solid #007a5a;
				}
			}
			a {
				display: block;
				font-weight: bold;
				font-size: 13px;
				padding-bottom: 10px;
				span {
					font-weight: normal;
				}
			}
		}
	}
	.tab-content {
		
		height: 100%;
	}
}

/* input */
// search box
.search-box {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 10px 10px 40px;
	position: relative;
	background-color: #fff;
	&::before {
		content: "";
		background: url('../images/icon/ico-search.png') no-repeat 0 0;
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
	}
	&:hover {
		border-color: #333;
		transition: .3s;
	}
}
.search-box-type2 {
	position: relative;
	padding: 15px 60px 15px 60px;
	border-bottom: 1px solid #ccc;
	display: flex;
	&::before {
		content: "";
		background: url('../images/icon/ico-search.png') no-repeat 0 0;
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
	}
}
// input box
.input-box-wrap {
	margin-top: 20px;
	dt {
		font-weight: bold;
		margin-bottom: 10px;
	}
}
.input-box {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 4px;
	input {
		font-size: 18px;
		&::placeholder {
			font-size: 18px;
		}
	}
}
// switch btn
.switch-btn-wrap {
  width: 50px;
  height: 50px;
  text-align: center;
	.switch {
		position: absolute;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		&:checked+.switch-label {
			background: #007a5a;
			border: 2px solid #007a5a;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: url("../images/icon/ico-check-wh.png") no-repeat 0 0;
				background-size: 30px 30px;
				width: 30px;
				height: 30px;
			}
		}
		&:checked+.switch-label .onf-btn {
			left: 26px;
			background: #fff;
			box-shadow: 1px 2px 3px #00000020;
		}
	}
	.switch-label {
		position: relative;
		cursor: pointer;
		display: inline-block;
		width: 54px;
		height: 30px;
		background: #fff;
		border: 2px solid #ccc;
		border-radius: 20px;
		transition: 0.2s;
		.onf-btn {
			position: absolute;
			top: 3px;
			left: 3px;
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background: #666;
			transition: 0.2s;
		}
	}
}
// select-box
.select-box-wrap {
	position: relative;
	margin-right: 10px;
	.select-btn {
		border: 1px solid #ccc;
		display: block;
		padding: 5px 30px 5px 5px;
		border-radius: 4px;
		position: relative;
		transition: .3s;
		&.no-border {
			border: none;
			display: inline-block;
			opacity: 0.7;
			cursor: pointer;
			&:hover {
				background-color: #fff;
				opacity: 1;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 12px;
			width: 5px;
			height: 5px;
			border-bottom: 2px solid #1d1c1db3;
			border-right: 2px solid #1d1c1db3;
			transform: rotate(45deg) translateY(-50%);
			transition: .3s;
		}
		&:hover {
			background-color: #dddddd;
		}
	}
	.select-option {
		display: none;
		position: absolute;
		top: 35px;
		left: 0;
		z-index: 2;
		width: 280px;
		background-color: #f7f7f7;
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 10px 0;
		.division {
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
			margin-bottom: 10px;
			.search-box {
				margin: 0 20px;
			}
		}
		.check-list {
			& > p {
				padding: 0 20px;
			}
		}
		*[class^=select-item] {
			display: flex;
			align-items: center;
			cursor: pointer;
			padding: 5px 20px;
			&:hover {
				background-color: #1264a3;
				color: #fff;
				a {
					color: #fff;
				}
			}
			&.checked {
				a {
					color: #1264a3;
					font-weight: bold;
					position: relative;
					&:before {
						content: "";
						background: url("../images/icon/ico-check-wh.png") no-repeat 0 0;
						position: absolute;
						top: 0;
						left: -20px;
						filter: opacity(0.5) drop-shadow(0 0 0 blue);
						width: 20px;
						height: 20px;
						background-size: 20px 20px;
					}
				}
				&:hover {
					a {
						color: #fff;
						&:before {
							filter: none;
						}
					}
				}
			}
			&.select-item-check {
				margin-top: 10px;
				div {
					margin-left: 10px;
					input {
						width: 15px;
						height: 15px;
					}
					&:first-child {
						margin-left: 0;
					}
					&.ico-user img {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
	&.on {
		.select-btn {
			background-color: #ddd;
			&.no-border {
				background-color: #fff;
			}
			&::after {
				transform: rotate(225deg);
				transition: .3s;
			}
		}
		.select-option {
			display: block;
		}
		.modal-bg {
			display: block;
		}
	}
}

/* notice-info */
.notice-info {
	margin-top: 20px;
	border: 1px solid #ccc;
	background-color: #e6e6e6;
	border-radius: 10px;
	padding: 15px;
	display: flex;
	line-height: 1.5;
	.ico-clock {
		margin-right: 10px;
		img {
			width: 20px;
			height: 20px;
		}
	}
}
/* card item */
.card-item {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	.ico-user {
		img {
			width: 36px;
			height: 36px;
		}
	}
}