/* common */

// font
*[class^=fs-18] {
  font-size: 18px;
  font-weight: bold;
  &.fs-18-wh {
    color: #fff;
  }
}
*[class^=fs-13] {
  font-size: 13px;
  font-weight: normal;
  &.fs-13-wh {
    color: #fff;
  }
  &.fs-13-gy {
    color: #666;
  }
}
.font-b {
  font-weight: bold;
}
.cl-gray {
  color: #666;
}
.cl-blue {
  color: #1164a3;
}
// 숨김 class
.blind {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  height: 0;
  visibility: hidden;
}
.p-section {
  display: flex;
  .p-content-area {
    padding: 20px;
  }
}
// flex
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-s {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 여백
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
// 툴팁
.tooltip {
  position: relative;
  *[class^=tooltip-msg] {
    display: none;
    color: #fff;
    position: absolute;
    top: 45px; 
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    max-width: 240px;
    z-index: 10;
    font-size: 15px;
    text-align: center;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid none;
      border-bottom: 6px solid #000;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.tooltip-msg-left {
      left: 10px;
      transform: translateX(0);
      &:before {
        left: 10px;
        transform: translateX(0);
      }
    }
    &.tooltip-msg-right {
      left: auto;
      right: 0;
      transform: translateX(0);
      &:before {
        left: auto;
        right: 10px;
        transform: translateX(0);
      }
    }
  }
  &:hover *[class^=tooltip-msg] {
    display: block;
  }
}
// menu-list
.menu-list-wrap {
  position: relative;
  .menu-list {
    position: absolute; 
    top: 35px;
    left: 10px;
    display: none;
    width: max-content;
    max-width: 300px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.205);
    z-index: 12;
    .menu-item {
      padding: 10px 0;
      border-top: 1px solid #ccc;
      & > p {
        padding: 5px 25px;
      }
      a, .depth {
        display: flex;
        align-items: center;
        padding: 5px 25px;
        position: relative;
        & > p {
          cursor: pointer;
        }
        .user-pic {
          width: 36px;
          height: 36px;
          overflow: hidden;
          border-radius: 3px;
          background-color: #666;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          &:before {
            content: "P";
            color: #fff;
            font-size: 20px;
            font-weight: bold;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            object-fit: cover;
          }
        }
        &:hover {
          background-color: #1164a3;
          color: #fff;
          & > p {
            color: #fff;
          }
          strong.cl-blue {
            color: #fff;
            text-decoration: underline;
          }
          span.cl-blue {
            color: #fff;
          }
          & > div {
            & > p {
              color: #fff;
            }
          }
          .shortcut-keys {
            color: #fff;
          }
        }
        .shortcut-keys {
          padding-left: 10px;
          color: #888;
        }
        p {
          flex: 1 1 auto;
        }
        *[class^=ico-] {
          margin-right: 10px;
        }
        //icon
        *[class^=ico-] {
          img {
            width: 20px;
            height: 20px;
            filter: none;
          }
        } 
      }
      .depth {
        position: relative;
        & > p {
          position: relative;
          width: 100%;
          &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-bottom: 1px solid #616061;
            border-right: 1px solid #616061;
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(-45deg) translateY(-50%);
            transition: .3s;
          }
        }
        .two-depth {
          display: none;
          position: absolute;
          top: -15px;
          left: 99%;
          background-color: #fdfdfd;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.205);
          border: 1px solid #ccc;
          border-radius: 10px;
          z-index: 2;
          width: 300px;
          padding: 10px 0;
          & > div {
            border-top: 1px solid #ccc;
            &:first-child {
              border-top: 0;
            }
            p {
              padding: 10px 25px;
            }
          }
        }
        &:hover {
          & > p:after {
            border-color: #fff;
          }
          .two-depth {
            display: block;
          }
          //icon
          *[class^=ico-] {
            img {
              filter: invert(1);
            }
          } 
        }
      }
      &:first-child {
        border-top: 0;
      }
    }
  }
  &.on {
    .menu-list {
      display: block;
    }
  }
}
/* guide */
.page-list-box {
  margin: 20px 0;
  text-decoration: underline;
  font-size: 20px;
}