.header-menu {
  background-color: #3f0e40;
  display: flex;
	justify-content: space-between;
  .p-history {
    width: 260px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
  }
  //icon
  *[class^=ico-] {
    img {
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
    &.ico-user {
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .p-search {
    display: flex;
    align-items: center;
		position: relative;
    & > a {
      width: 732px;
      display: flex;
      align-items: center;
      height: 26px;
      background-color: #5d3d5e;
      border-radius: 3px;
      justify-content: space-between;
      padding: 0 10px;
      p {
        color: #fff;
      }
    }
  }
  .p-user-info {
    display: flex;
    align-items: center;
    a {
      display: block;
      margin-right: 20px;
      .ico-user {
        img {
          width: 26px;
          height: 26px;
          filter: none;
        }
      }
    }
  }
}