.side-bar {
  background-color: #3f0e40;
  width: 260px;
  .p-head {
    height: 50px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    .p-info {
      &.menu-list-wrap {
        .menu-list {
          width: 300px;
        }
      }
      & > a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 54px 0 16px;
        span {
          position: relative;
          padding-right: 10px;
          max-width: 185px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: rotate(-45deg) translateY(-50%);
            transition: .3s;
          }
        }
      }
      &.on {
        & > a {
          span {
            &:after {
              transform: rotate(45deg) translateY(-50%);
            }
          }
        }
      }
    }
    .p-new-message {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      display: block;
      .ico-message {
        width: 34px;
        height: 34px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  .p-list {
    padding: 10px 0;
    height: calc(100vh - 50px - 44px);
    .p-list-item {
      & > a {
        display: flex;
        align-items: center;
        color: #fff;
        opacity: .5;
        padding: 5px 25px;
        
        *[class^=ico-] {
          margin-right: 10px;
          &.ico-message img {
            filter: invert(1);
          }
        }
      }
      .on {
        background-color: #10619e;
      }
    }
  }
  
  // accordion-menu
  .accordion-menu-wrap {
    margin-top: 20px;
    & > a {
      position: relative;
      display: block;
      padding-left: 56px !important;
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 6px solid none;
        border-top: 6px solid #fff;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: absolute;
        top: 50%;
        left: 29px;
        transform: translateY(-50%);
      }
    }
    .accordion-menu {
      ul {
        li {
          & > a {
            padding: 5px 25px 5px 40px;
            color: #fff;
            opacity: .5;
            display: flex;
            
            *[class^=ico-] {
              margin-right: 10px;
              &.ico-message img {
                filter: invert(1);
              }
            }
          }
          &.on {
            background-color: #10619e;
            a {
              opacity: 1;
            }
          }
          &.add-btn.type2 {
            a {
              opacity: 1;
            }
          }
          &.user-display {
            a {
              opacity: 1;
              p {
                opacity: .5;
                span {
                  margin-left: 10px;
                  display: inline-block;
                  opacity: .8;
                }
              }
            }
          }
          &:not(.on) {
            display: none;
          }
        }
      }
      &.on {
        ul {
          li {
            display: block;
          }
        }
      }
    }
  }

  //icon
  *[class^=ico-] {
    img {
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
    &.ico-message img {
      filter: none;
    }
    &.ico-user {
      border-radius: 5px;
      overflow: hidden;
      img {
        filter: none;
      }
    }
  } 
}
