@charset "UTF-8";
.c-list-wrap {
  margin-top: 40px;
  margin-bottom: 50px;
}

.c-list-wrap .t-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  padding: 5px 0;
}

.c-list-wrap .t-tit p {
  font-weight: 400;
}

.c-list-wrap .t-tit p:hover {
  color: #333;
}

.c-list-wrap .t-tit > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-list-wrap .t-tit > div div a {
  padding: 2px 5px;
}

.c-list-wrap .t-tit > div div a:hover {
  background-color: #f8f6f6;
}

.c-list-wrap .c-list li {
  border-top: 1px solid #ccc;
  position: relative;
}

.c-list-wrap .c-list li a {
  padding: 16px 12px;
  display: block;
}

.c-list-wrap .c-list li a .tit {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

.c-list-wrap .c-list li a .tit .tooltip {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  color: #1d1c1db3;
  font-weight: normal;
}

.c-list-wrap .c-list li a .tit .tooltip .tooltip-msg-top {
  font-size: 13px;
}

.c-list-wrap .c-list li a > div span {
  color: #1d1c1db3;
  font-size: 13px;
}

.c-list-wrap .c-list li a > div span::before {
  content: 'ㆍ';
}

.c-list-wrap .c-list li a > div span:first-child:before {
  content: '';
}

.c-list-wrap .c-list li a > div span.present {
  color: #007a5a;
  font-weight: bold;
}

.c-list-wrap .c-list li .c-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-list-wrap .c-list li .c-btn button {
  margin-right: 10px;
}

.c-list-wrap .c-list li:hover {
  background-color: #f8f6f6;
}

.c-list-wrap .c-list li:hover a .tit .tooltip {
  display: block;
}

.c-list-wrap .c-list li:hover .c-btn {
  display: block;
}

.c-info > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 0;
  position: relative;
}

.c-info > a:after {
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.card-list-box {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-list-box .list-item {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
  font-weight: 700;
}

.card-list-box .list-item:first-child {
  border: none;
}

.card-list-box .list-item dl dt {
  margin-bottom: 5px;
}

.card-list-box .list-item dl dd {
  font-weight: 300;
}

.card-list-box .list-item dl dd input {
  font-weight: 300;
}

.card-list-box .list-item div button {
  font-weight: 700;
}

.card-list-box .list-item div button:hover {
  text-decoration: underline;
}

.search-list {
  margin: 30px 0;
}

.search-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 0 30px;
  cursor: pointer;
}

.search-list .list-item:hover {
  background-color: #ccc;
}

.search-list .list-item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-list .list-item .user .ico-user {
  border-radius: 4px;
  overflow: hidden;
}

.search-list .list-item .user div {
  margin-right: 10px;
}

.search-list .list-item div button:hover {
  text-decoration: underline;
}

.p-content-area.chat {
  padding: 0;
}

.p-content-area.chat .chat-wrap {
  background-color: #fff;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  position: relative;
}

.p-content-area.chat .chat-wrap .chat-con .chat-first {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-content-area.chat .chat-wrap .chat-con .chat-first *[class^='ico-'] {
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.p-content-area.chat .chat-wrap .chat-con .chat-first *[class^='ico-'] img {
  width: 36px;
  height: 36px;
}

.p-content-area.chat .chat-wrap .chat-con .chat-day {
  border-top: 1px solid #ccc;
  padding-bottom: 30px;
}

.p-content-area.chat .chat-wrap .chat-con .chat-day .select-box-wrap button {
  position: absolute;
  top: -20px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  padding: 5px 20px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.p-content-area.chat .chat-wrap .chat-con .chat-detail {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.p-content-area.chat .chat-wrap .chat-con .chat-detail .ico-user {
  margin-right: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.p-content-area.chat .chat-wrap .chat-con .chat-detail .ico-user img {
  width: 36px;
  height: 36px;
}

.p-content-area.chat .chat-wrap .chat-con .chat-text {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.p-content-area.chat .chat-wrap .chat-con .chat-text textarea {
  width: 100% !important;
  border: 1px solid #ccc;
  height: 200px !important;
  border-radius: 10px;
  padding: 10px;
}
/*# sourceMappingURL=layout.css.map */